<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/faviconMetroCity.webp" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Info</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/vehicleInfo">Vehicle Info</a></li>
            <% if (user) { %>
            <li><a href="/auth/logout">Log out</a></li>
            <% } else { %>
            <li><a href="/auth/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
    <header>
        <% if (user) { %>
        <h1 class="login">Vehicle information page </h1>
        <h2 class="login">Welcome, <%= user.username %></h2>
        <% } else { %>
        <h1 class="login">Track Vehicle</h1>
        <!-- <h2></h2> -->
        <% } %>
    </header>
    <main>
        <% if (user) { %>
        <div class="container">
            <div class="text">
                <a class="track-vehicle">Track Vehicle Here</a>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15720.605662590571!2d8.880434526757975!3d9.921344879842271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x105372526fe02c8d%3A0xd40967b4a267e2d2!2sTerminus%20Roundabout%2C%20Jos%20930105%2C%20Plateau!5e0!3m2!1sen!2sng!4v1719643050522!5m2!1sen!2sng" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="arrival-times">
                    <h3>Vehicle Arrival Times Unavailable Yet</h3>
                    <ul id="trackvehicleLocation">
                        <!-- Arrival times will be dynamically populated here -->
                    </ul> <%}else { %>
                        <h2>Login to view vehicle information</h2>
                        <a class="google-btn" href="/auth/login">Login</a>
                        <%} %>
                </div>
            </div>
        </div>
    </main>
    <script src="/engine.js"></script>
    <footer>
        <p>&copy; 2024 Metro City Bus. All rights reserved.</p>
        <p>Contact us at <a href="">support@metrocitybus.com</a></p>
    </footer>
</body>
</html>
